@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Open+Sans&display=swap');

:root {
  --primary-color: #0071e0;
  --primary-hover: #65b0fa;
  --gray-color: #626f7f;
  --danger-color: #dc3545;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  letter-spacing: .01rem;
  line-height: 1.75rem;
  color: #303030;
}

.btn-primary {
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 8px 18px;
  border-radius: 4px;
}

.btn-primary:hover {
  background-color: #0060c0;
  cursor: pointer;
}

.border-bottom {
  border-bottom: 1px #cccccc solid;
  padding-bottom: 10px;
}

/* ------Navbar-------- */
.navbar {
  max-width: 1260px;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
}

.company-logo {
  font-size: 24px;
  color: #000000;
  letter-spacing: 0.05rem;
  font-weight: bold;
  margin: 20px;
  text-decoration: none;
}

.company-logo > span {
  color: var(--primary-color);
  font-size: 28px;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

.nav-item {
  margin: 10px 20px;
}

.nav-item > a {
  text-decoration: none;
}

.nav-item-default {
  color: #303030;
}

.nav-item-default:hover {
  color: var(--primary-hover);
  cursor: pointer;
}

.menu-icon {
  border: none;
  background-color: #ffffff;
  font-size: 32px;
  outline: none;
  visibility: hidden;
}

/* ------Landing Page-------- */
.home-grid {
  width: 100%;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: minmax(50%, 400px) 1fr;
  padding: 4vw 8vh;
  justify-content: center;
  align-content: center;
}

.home-grid > .content {
  color: #626f7f;
}

.home-grid:nth-child(even) {
  background-color: #efefff;
}

.content {
  margin-left: 50px;
}

.content-heading {
  font-size: 22px;
  color: #202020;
}

.home-grid > img {
  height: 300px;
  width: 500px;
  justify-self: end;
  margin-right: 40px;
  object-fit: cover;
}

.content > p {
  margin-bottom: 30px;
}

.content-button {
  text-decoration: none;
}

.content-button:hover {
  background-color: var(--primary-hover);
}

/* ------Sign In Modal-------- */
.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(248,246,246,0.5);
  display: flex;
  justify-content: center;
  visibility: visible;
  opacity: 1;
}

.bg-active {
  visibility: visible;
  opacity: 1;
}

.modal {
  background-color: #efefef;
  width: 500px;
  height: 550px;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  position: relative;
}

.modal > h1 {
  align-self: center;
  margin: 5rem 3rem 2rem;
  color: var(--primary-color);
  font-weight: 500;
}

.modal > section {
  display: flex;
  flex-direction: column;
  margin: 1rem 3rem;
}

.form-control > label {
  font-size: 16px;
  color: #303030;
}

.form-control > input {
  padding: 0.5rem;
  border: 1px solid #aaaaaa;
  border-radius: 2px;
}

.form-control > small {
  margin: 0.5rem 0 0;
  /* align-self: flex-end; */
}

.modal > small {
  margin: 1rem 3rem;
}

.modal > button {
  margin: 1rem 3rem;
  border: none;
  align-self: flex-end;
  padding: 0.6rem 1.2rem;
  font-size: 1.2em;
}

.sign-in-link {
  color: var(--primary-color);
  font-size: 1.2em;
  cursor: pointer;
  text-decoration: none;
}

.close {
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  font-size: 4.5em;
}

.close-icon {
  color: #626f7f;
  font-size: 0.5em;
}

.sign-in-error {
  margin: 0 3rem;
}

.form-error {
  color: var(--danger-color);
  font-size: 14px;
}

/* ------Landing Forms-------- */
.landing-forms {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.side-image {
  align-self: center;
}

.side-image > img {
  height: 520px;
  width: 350px;
  margin-left: 40px;
  object-fit: cover;
}

/* ------Sign Up-------- */
.sign-up-form {
  padding: 0 10px 20px;
  display: flex;
  flex-direction: column;
}

.sign-up-form > h1 {
  margin: 0;
}

.sign-up-form label {
  font-size: 12px;
  text-transform: uppercase;
}

.sign-up-form input[type="text"], input[type="email"], input[type="date"], textarea {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #aaaaaa;
  border-radius: 2px;
}

input[type="file"] {
  display: block;
  width: 100%;
  padding: 20px;
  background-color: antiquewhite;
  
}

input[type="password"] {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #aaaaaa;
  border-radius: 2px;
}

input[type="file"]::-webkit-file-upload-button {
  height: 25px;
}

.sign-up-form > button {
  margin: 1rem 0;
  border: none;
  padding: 0.6rem 1.2rem;
  font-size: 1em;
  align-self: flex-end;
}

.sign-up-form > .form-group {
  margin-bottom: 10px;
}

.sign-up-form > h1 {
  margin-bottom: 10px;
}

.upload-resume {
  font-size: 14px !important;
  line-height: 3em;
}

/* ------Reset Password-------- */
.reset-password {
  width: 50%;
  margin: 15vw auto;
  border: 1px solid #cccccc;
  padding: 5vh 5vw;
}

.reset-password > .sign-up-form {
  padding: 0;
}

.reset-password > .sign-up-form > .form-group {
  margin-bottom: 20px;
}

/* ------Profile About Section-------- */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.letter-avatar {
  background-color: var(--primary-hover);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.letter-avatar > p {
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  font-size: 2.5em;
  letter-spacing: 0.15rem;
}

.profile-about {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  margin-bottom: 10px;
}

.about-content {
  display: flex;
  flex-direction: column;
}

.about-content > p {
  margin: 0;
  margin-bottom: 10px;
  line-height: normal;
}

.profile-name {
  font-size: 24px;
  font-weight: 600;
}

.profile-position {
  color: var(--gray-color);
}

.profile-icons {
  margin-left: 8px;
}

.profile-position > span> a>i {
  color: #686666;
  margin-left: 10px;
}

.fa-linkedin-in:hover {
  color: var(--primary-hover);
  cursor: pointer;   
}

.icon-text {
  font-size: 14px;
}

.profile-summary {
  color: var(--gray-color);
  font-size: 15px;
}

.edit-profile:hover {
  color: var(--primary-hover);
  cursor: pointer;   
}

/* ------Profile Animation-------- */
.fadeIn {
  animation: fadeInAnimation 300ms ease-in;
}

@keyframes fadeInAnimation {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* .fadeOut {
  animation: fadeOutAnimation 1000ms ease-in;
}

@keyframes fadeOutAnimation {
  from { opacity: 1; }
  to   { opacity: 0; }
} */

/* .fadeOut{
  opacity:0;
  visibility: hidden;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;

}
.fadeIn{
  opacity:1;
  visibility: visible;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
} */


/* ------Experience-------- */
.experience-new {
  display: flex;
  justify-content: space-between;
}

.experience-new > p:hover {
  color: var(--primary-hover);
  cursor: pointer;
}

.experience-header {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
}

.company-name {
  font-size: 16px;
}

.date {
  color: var(--gray-color);
  font-size: 0.9em;
}

.experience-summary {
  color: var(--gray-color);
  font-size: 15px;
}

.edit-experience:hover {
  color: var(--primary-hover);
  cursor: pointer;
}

.card {
  border: 1px solid #cccccc;
  margin-bottom: 20px;
}

.card > p {
  margin: 0;
  margin-bottom: 10px;
  line-height: normal;
  padding: 0 10px;
}

.card > p:first-child {
  padding: 10px;
}

/* ------Add Experience-------- */
.exp-form {
  padding: 0 10px 20px;
}

.add-experience label {
  font-size: 12px;
  text-transform: uppercase;
}

.add-experience input[type="text"], input[type="date"], textarea {
  display: block;
  width: 100%;
  padding: 0.3rem;
  border: 1px solid #aaaaaa;
  border-radius: 2px;
}

.add-exp-button {
  color: #ffffff;
  font-size: 14px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 2px;
  padding: 0.3rem 0.8rem;
  margin: 0 0.3rem;
  outline: none;
}

.add-exp-button:hover {
  cursor: pointer;
  background-color: var(--primary-hover);
}

.exp-cancel {
  font-size: 14px;
  color: var(--gray-color);
  margin: 0 0.1rem;
  text-decoration: none;
}

.exp-cancel {
  cursor: pointer;
}

.delete-exp-button {
  color: #ffffff;
  font-size: 14px;
  background-color: var(--danger-color);
  border: none;
  border-radius: 2px;
  padding: 0.3rem 0.8rem;
  margin: 0 0.3rem;
  outline: none;
}

.delete-exp-button:hover {
  cursor: pointer;
  background-color: rgb(243, 26, 48);
}

/* ------Resume-------- */
.resume-form {
  padding: 0 10px 20px;
}

.show-resume {
  background-color: whitesmoke;
  padding: 20px;
}

.resume-name {
  font-weight: 500;
  margin-right: 30px;
}

.resume-link {
  text-decoration: none;
  color: #5cadff;
} 

.resume-form > .form-group > label {
  font-size: 14px;
}

/* ------Media Queries-------- */
@media only screen and (min-width: 1920px) {
  .home-grid {
    padding: 4vh 16vw;
  }
}

@media only screen and (min-width: 2200px) {
  .home-grid {
    padding: 4vh 24vw;
  }
}

@media only screen and (max-width: 1380px) {
  .home-grid {
    padding: 4vh 4vw; 
  }
}

@media only screen and (max-width: 1024px) {
  .nav-item {
    margin: 10px 12px;
  }
   
  .nav-item:last-child{
    margin-right: 20px;
  }

  .home-grid {
    grid-template-columns: minmax(55%, 600px) 1fr;
    margin-bottom: 0;
  }

  .home-grid:nth-child(1) {
    padding-top: 3vw;
  }

  .home-grid > .content {
    margin-right: 20px;
  }

  .home-grid > img {
    margin-top: 20px;
  }

}

@media only screen and (max-width: 960px) {
  .home-grid > img {
    height: 260px;
    width: 360px;
    justify-self: end;
    margin-right: 40px;
  }

  .profile-about {
    grid-template-columns: 1fr 4fr 1fr;
  }

  .side-image > img {
    margin-left: 0;
  }

  .reset-password {
    width: 60%;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    width: 100%;
  }

  .menu-icon{
    visibility: visible; 
    position: absolute;
    top: 15px;
    right: 20px;
  }

  .nav-links {
    flex-direction: column;
  }

  .navbar-collapse {
    width: 100%;
    position: absolute;
    top: 40px;
    left: -100%;
  }

  .navbar-collapse-active {
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #efefef;
  }

  .nav-item {
    margin: 10px 0;
  }
  
  /* --------------------------------------- */
  .home-grid {
    grid-template-columns: 1fr;
    margin-bottom: 0;
    padding: 4vw;
  }

  .home-grid > .content {
    grid-row: 2/3;
    margin-left: 0;
  }

  .home-grid > img {
    height: 250px;
    width: 100%;
    margin-right: 0;
  }
}

@media only screen and (max-width: 648px) {
  .container {
    padding: 0 1rem;
  }

  .profile-about {
    grid-template-columns: 125px minmax(300px, 50%) 60px;
  }
  
  .profile-position > span > i:first-child {
    margin-left: 0;
  }

  .profile-icons {
    display: block;
  }

  .landing-forms {
    display: block;
    padding: 0 1rem;
    margin-top: 4rem;
  }

  .side-image {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .home-grid {
    padding: 6vw 4vw;
  }

  /* ---------------------------------------- */
  .modal {
    margin-top: 70px;
  }

  .profile-about {
    grid-template-columns: 125px minmax(200px, 90%);
    grid-template-rows: 100px auto;
  }    

  .letter-avatar {
    grid-column: 1/2;
    grid-row: 1/2;    
  }

  .about-content {
    grid-column: 2/3;
    grid-row: 1/3;
  }

  /* .profile-summary {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  } */

  .edit-profile {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 15px;
  }

  .reset-password {
    width: 80%;
  }

  .landing-forms {
    margin-top: 3rem;
  }

  .resume-link {
    display: block;
}
}

@media only screen and (max-width: 320px) {
  .modal {
    margin-top: 50px;
  }
  .profile-about {
    grid-template-columns: 114px minmax(180px, 90%);
  } 
}

@media only screen and (max-width: 280px) {
  .profile-about {
    grid-template-columns: 110px minmax(150px, 90%);
  }   
}